html
  head 
    title View message
  body 
    h1 Message details
    p= message.message
    p= "By " + message.username + (message.date_added ? " on " + message.date_added  : "")
    a(href="/") Back to main page