html
  head 
    title Message Board
  body 
    h1 Recent messages 
    ul 
      each message in messages 
        li 
          p= message.message
          p= "By " + message.username + (message.date_added ? " on " + message.date_added  : "")
          a(href="/details/" + message.id) Open message details
    a(href="/new") Add new message